<table class="table table-striped">
  <thead>
    <tr align=center>
      <th>#</th>
      <th>Governorate</th>
      <th  colspan=2>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr align=center>
      <th scope="row">1</th>
      <td>Mahdia</td>
      <td><button type="button" class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button></td>
      <td> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
    </tr>
    <tr align=center>
      <th scope="row">2</th>
      <td>Monastir</td>
      <td><button type="button" class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button></td>
      <td> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
    </tr>
    <tr align=center>
      <th scope="row">3</th>
      <td>Mahdia</td>
      <td><button type="button" class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button></td>
      <td> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
    </tr>
    <tr align=center>
      <th scope="row">3</th>
      <td>Sfax</td>
      <td><button type="button" class="btn btn-info"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button></td>
      <td> <button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>
