
  <mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="adminDashboard">
      <i class="fa fa-heartbeat fa-lg" aria-hidden="true">   Dashboard</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="doctors">
        <i class="fa fa-user-md fa-lg" aria-hidden="true">   Doctors</i></a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="pharmacy">
          <i class="fa fa-user-md fa-lg" aria-hidden="true">   Pharmacy</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="hopital">
      <i class="fa fa-h-square fa-lg" aria-hidden="true">   Hospital</i></a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="clinique">
          <i class="fa fa-hospital-o fa-lg" aria-hidden="true">   Clinical</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="laboratoire">
      <i class="fa fa-flask fa-lg" aria-hidden="true">   Laboratory</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="speciality">
      <i class="fa fa-stethoscope fa-lg" aria-hidden="true">   Speciality</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="gouvernorat">
      <i class="fa fa-map-marker fa-lg" aria-hidden="true">   Governorate</i></a>
     
  </mat-nav-list>
