
/*.img {
    border-radius: 50%;
    }*/
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;

    }
    #one{
      text-align: center;
      border: 3px solid #75c8e9;
      margin-left: 40px;
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      font-weight: bold;
      color: #c7c7c7;
    }

    .form-group{
      font-family: "Times New Roman", Times, serif;
       font-size: 20px;
       }
       @media screen and (max-width: 600px) {
        .mx-auto {
          width: 100%;
          margin-top: 0;
        }
      }
