
  <mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="patDashboard">
      <i class="fa fa-heartbeat fa-lg" aria-hidden="true">   Dashboard</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patProfile">
      <i class="fa fa-user fa-lg" aria-hidden="true">  Profile</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patRdv">
      <i class="fa fa-stethoscope fa-lg" aria-hidden="true">   Appoiment</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patConsultation">
      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true">   Consultation</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patMessage">
      <i class="fa fa-envelope fa-lg" aria-hidden="true">   Message</i></a>
  </mat-nav-list>
