.card-icon, .card-title{
  color: #75c8e9;
}
.card-stats{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
