
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-flask fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Laboratory</p>
                  <h3 class="card-title">{{ Laboratory }}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-user-md fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">
                    Doctor</p>
                  <h3 class="card-title">{{ Doctor }}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category"> Clinical </p>
                  <h3 class="card-title">{{ Clinical }}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon"><i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">
                    Hospital</p>
                  <h3 class="card-title">{{ Hospital}}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-3">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon"><i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">
                    Pharmacy</p>
                  <h3 class="card-title">{{ Pharmacy }}</h3>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

