
  <mat-nav-list>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="prestDashboard">
      <i class="fa fa-heartbeat fa-lg" aria-hidden="true">   Dashboard</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="prestProfile">
      <i class="fa fa-user-md fa-lg" aria-hidden="true">    Profile</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patient">
      <i class="fa fa-wheelchair fa-lg" aria-hidden="true">    Patients</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="prestRdv">
      <i class="fa fa-stethoscope fa-lg" aria-hidden="true">   Appoiment</i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="prestConsultation">
      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true">   Consultation </i></a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="prestMessage">
      <i class="fa fa-envelope fa-lg" aria-hidden="true">   Message</i></a>
  </mat-nav-list>
