
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-wheelchair fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Patients</p>
                  <h3 class="card-title">{{ patients }}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">appoiments</p>
                  <h3 class="card-title">{{ rdvs }}</h3>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Consultations</p>
                  <h3 class="card-title">{{ consultations }}</h3>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

